@font-face {
    font-family: "Noir Pro";
    src: url("../fonts/NoirPro/WebFonts/ff194d14f11197a37610711ef9f788ff.eot");
    src: url("../fonts/NoirPro/WebFonts/ff194d14f11197a37610711ef9f788ff.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/NoirPro/WebFonts/ff194d14f11197a37610711ef9f788ff.woff")
            format("woff"),
        url("../fonts/NoirPro/WebFonts/ff194d14f11197a37610711ef9f788ff.woff2")
            format("woff2"),
        url("../fonts/NoirPro/WebFonts/ff194d14f11197a37610711ef9f788ff.ttf")
            format("truetype"),
        url("../fonts/NoirPro/WebFonts/ff194d14f11197a37610711ef9f788ff.svg#Noir Pro")
            format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body.authentication-bg {
    background-image: url("../images/bg-auth.jpg");
}

@media screen and (max-width: 576px) {
    .table-sm thead {
        display: none;
    }

    .table-sm tbody tr {
        display: block;
    }

    .table-sm tbody tr:not(:last-child) {
        margin-bottom: 1rem;
        border-color: #dee2e6;
    }

    .table-sm tbody th,
    .table-sm tbody td {
        padding: 10px 12px;
        display: flex;
        justify-content: space-between;
        border-bottom: solid #dee2e6 1px;
    }

    .table-sm tbody th::before,
    .table-sm tbody td::before {
        content: attr(data-label);
        text-align: left;
        font-weight: 600;
    }
}
